[submodule "emacs/l/i3-emacs"]
	path = emacs/l/i3-emacs
	url = git@github.com:tiago4orion/i3-emacs.git
[submodule "emacs/l/i3-manager"]
	path = emacs/l/i3-manager
	url = git@github.com:tiago4orion/i3-manager.el.git
[submodule "emacs/l/go-mode.el"]
	path = emacs/l/go-mode.el
	url = git@github.com:dominikh/go-mode.el.git
[submodule "emacs/l/auto-complete"]
	path = emacs/l/auto-complete
	url = git@github.com:auto-complete/auto-complete.git
[submodule "emacs/l/popup.el"]
	path = emacs/l/popup.el
	url = git@github.com:auto-complete/popup-el.git
